name: Build and Update Docker Image Tag

on:
  push:
    branches:
      - "main"
  workflow_dispatch:


jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Get Branch Short Ref
        run: |
          echo "SHORT_REF=$(cut -c 1-7 <<< $GITHUB_SHA)" >> $GITHUB_ENV
      -
        name: Get Respository Name
        run: |
            echo "REPOSITORY_NAME=$(basename $GITHUB_REPOSITORY)" >> $GITHUB_ENV
      -
        uses: actions/checkout@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          file: pdm-docedit-main/Dockerfile
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.REPOSITORY_NAME }}:staging-${{ env.SHORT_REF }}-${{ github.run_number }}
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.REPOSITORY_NAME }}:latest1
    outputs:
      repository_name: ${{ env.REPOSITORY_NAME }}
      short_ref: ${{ env.SHORT_REF }}

  deploy:
      runs-on: self-hosted
      environment:
        name: staging
        #url: https://parfums-du-monde.lagentx.tech/
      needs: build
      steps:
        - name: Checkout manifests repository
          uses: actions/checkout@v3
          with:
            repository: https://github.com/seddaoudi/argocd-repo.git
            ref: main
            token: ${{ secrets.PAT }}
        - name: Update Image Tag
          run: |
            git config user.name GitHub Actions
            git config user.email github-actions@techmyteam.com
            sed -zi 's/image: [a-zA-Z0-9:\/\.\-]*/image: ${{ secrets.DOCKERHUB_USERNAME }}\/${{ needs.build.outputs.repository_name }}:staging-${{ needs.build.outputs.short_ref}}-${{ github.run_number }}/1' /deployment.yml
            git add .
            git commit -m "cd: Updated Docker Image Tag for ${{ needs.build.outputs.repository_name }}" -m "Initiated by: ${{ github.ACTOR }}"
            git push
